<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="travel" class="travel.Travel">
        <property name="transportation" ref="transportation"/>
        <property name="accomodation" ref="accomodation"/>
    </bean>

    <bean id="transportation" class="travel.impl.Bus">
    </bean>

    <bean id="accomodation" class="travel.impl.Hotel">
    </bean>

</beans>